@use 'variaveis';
@use 'hero';

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}
@font-face {
    font-family: AVEbir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: variaveis.$corDeFundo;
    font-family: Avenir, sans-serif;
}

@mixin text($fontSize:16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}


.text--big{
    @include text(18px);
}

.text {
    @include text;
}

.text--small{
    @include text(12px);
}

.title--big{
    @include text(44px);
    color:variaveis.$corTextoSecundario;
}
.title{
    @include text(40px);
    color:variaveis.$corTextoSecundario;
}
.title--small{
    @include text(28px);
    color:variaveis.$corTextoSecundario;
}
.link-text{
    @include text(18px);
    text-decoration: underline;
}